#drop-down {
  width: 250px;
}

/* .index {
    margin: auto;
} */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: 250px;
  text-align: center;
  position: absolute;
  top: 42%;
  /* margin: auto;
    position: absolute;
    top: 42%;
    left: 39%; */
}

#img-box {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  height: 100px;
  width: 100px;
  border: solid 1px grey;
  overflow: hidden;
}

.active_rainbow {
  background: linear-gradient(to left, #6666ff, #0099ff , #00ff00, #fcd303, #ff3399, #fc0318, #fc7703, #fc03ba,#e689f5, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 10s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* @media (hover: none) {
  
  #content {
    display: none;
  }

  #touch-screen {
    display: block !important;
  }

  body {
background-color: blue;
  }
} 

*/
