/* defaults by romain cazier*/
::selection {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: #ececec;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a :hover {
  z-index: 10000000;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

/*main css*/
.float {
  float: left;
  width: 50%;
}

@font-face {
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/*body {
  font-family: 'IBM Plex Mono', monospace;
  /*font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}*/
#container {
  position: fixed;
  index: 900000;
  mix-blend-mode: hard-light;
  pointer-events: none;
  top: 0px;
}

button {
  background: none;
  border: none;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  margin: 0;
  z-index: 999;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*---------------- gif and png transform------------------*/
.static {
  position: absolute;
  width: 100%;
}

.static:hover {
  opacity: 0;
  width: 100%;
}

#four {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
}

#four:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}

.accordion {
  transition: 0.8s;
  /* max-height: 0; */
  /* overflow: hidden; */
  /* transition: max-height 0.8s ease; */
}

#zero_extr {
  z-index: 910;
}

.panel {
  /*max-height: 0;
	overflow: hidden;*/
  max-height: 0;
  overflow-y: scroll;
  transition: max-height 0.8s ease;
  background-color: white;
  width: 60vw;
  border: 10vw;
  z-index: 900;
  position: relative;
}

h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.25;
}

section {
  padding-left: 20vw;
  padding-right: 20vw;
  /* padding-bottom: 10vw; */
  z-index: 99999;
}

#canvas {
  position: fixed;
  width: 100%;
  /*height: 100%;*/
  min-height: 100%;
  z-index: 1000;
  mix-blend-mode: color;
  pointer-events: none;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 54px;
  font-weight: normal;
  /*font-weight: bold;*/
  text-align: right;
  margin-right: 25vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  top: 96px;
  left: 80px;
  bottom: 0px;
  z-index: 80000000;
  position: relative;
  pointer-events: none;
}

h2 {
  font-size: 70px;
}

.highlight {
  background: linear-gradient(180deg, #FFD0AE 65%, rgba(255, 255, 255, 0) 65%);
}

#zeroP h2 {
  padding-top: 60px;
}

#twoP h2 {
  padding-top: 50px;
}

#etc {
  z-index: 99999999;
}

#etc a {
  pointer-events: all;
}

.rotation {
  -webkit-animation: orbit2 1s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: orbit2 1s linear infinite;
  /* Firefox 5-15 */
  -o-animation: orbit2 1s linear infinite;
  /* Opera 12+ */
  animation: orbit2 1s linear infinite;
  /* Chrome, Firefox 16+,
																								 IE 10+, Safari 5 */
}

@media (min-width: 900px) {
  #etc {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    text-align: right;
    padding-top: 0px;
    margin-right: 20vw;
    top: 110px;
    left: -1px;
    z-index: 800000;
    position: relative;
  }

  #about {
    max-width: 300px;
    top: 2vw;
    left: 74vw;
    font-size: 14px;
    position: relative;
    color: #979797;
    word-wrap: break-word;
  }

  #contact {
    font-family: 'IBM Plex Mono', monospace;
    max-width: 300px;
    top: 47px;
    left: 74vw;
    font-size: 14px;
    color: #979797;
    position: relative;
    word-wrap: break-word;
  }

  #pic_matrix {
    width: 700px;
  }
}

#_about {
  position: relative;
  left: 11px;
  cursor: pointer;
  color: rgb(0, 0, 238);
}

#_contact {
  position: relative;
  top: 10px;
  left: 0px;
  cursor: pointer;
  color: rgb(0, 0, 238);
}

#about, #contact {
  display: none;
}

#menu {
  /* margin-bottom: 30vh; */
  /* margin-left: 10vw; */
  height: 124vw;
}

#zero {
  position: relative;
  top: 19vw;
  left: 11vw;
  width: 15vw;
}

#zeroP {
  top: -5vw;
}

#zero_extr {
  position: relative;
  float: left;
  top: 2vw;
  left: 14vw;
  width: 20vw;
}

#one {
  position: relative;
  top: -3vw;
  left: 58vw;
  width: 19vw;
}

#oneP {
  top: -8vw;
}



#five {
  position: relative;
  top: -5vw;
  left: 23vw;
  width: 26vw;
  z-index: 9999;
  /*margin-top: 100px;*/
}

#fiveP {
  top: -9vw;
}

#two {
  position: relative;
  top: 0vw;
  left: 48vw;
  width: 22vw;
  z-index: 9999;
  /*margin-top: 100px;*/
}

#twoP {
  top: -4vw;
}

#three {
  position: relative;
  top: 3vw;
  left: 16vw;
  width: 10vw;
}

#threeP {
  top: 0vw;
}

#four {
  position: relative;
  top: 0vw;
  left: 40vw;
  width: 20vw;
  z-index: 1;
}

#fourP {
  top: -12vw;
}

#void {
  position: relative;
  top: 2vw;
}

iframe, video {
  padding-bottom: 10vw;
  width: 100%;
  height: 50vw;
}

img {
  width: 100%;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  max-width: 600px;
}

.me {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}

.cap {
  font-size: 22px;
  font-weight: bold;
}

.link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 238);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.contents {
  margin-top: 3vh;
}

.contents img {
  margin-top: 20px;
  /*padding-right: 5px;
  padding-bottom: 5px;*/
}

.story p {
  max-width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

#pic_matrix img {
  width: 170px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#v {
  width: 100%;
  display: inline-block;
}

#v img {
  width: 9vw;
  margin-right: 5vw;
  margin-left: 5vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#green {
  width: 20%;
  position: relative;
  left: 42vw;
  margin-top: 60px;
}

#hands_n_screen {
  width: 40%;
  position: relative;
  left: 19%;
  margin-bottom: 60px;
}

#p5 {
  width: 100%;
  margin-bottom: 4vw;
}

@media (max-width: 1225px) {
  h1, h2 {
    font-size: 46px;
  }

  #pic_matrix {
    width: 700px;
  }
}

@media (max-width: 900px) {
  h1, h2 {
    font-size: 40px;
    /* padding-top: 30px; */
  }

  h1 {
    padding-left: 10vw;
  }

  /* h3 {
    font-size: 16px;
  } */
  section {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .panel {
    width: 80vw;
  }

  #etc {
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 96vw;
    padding: 2vw;
    border-top: solid;
    z-index: 9999999;
    -webkit-transition: height 5s;
    /* Safari */
    transition: height 5s;
  }

  #etc p {
    max-width: 100%;
  }

  #about, #contact {
    margin-top: 0px;
  }

  #pic_matrix {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .contents img {
    width: 100%;
    /* padding-right: 5px;
  		padding-bottom: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto;
  		/* display: block; */
  }

  #pic_matrix {
    width: 100%;
  }
}
