 /* unknown */
 #btn1 {
   position: absolute;
   top: 4vw;
   left: 4vw;
   width: 12vw;
 }


 /* design workshop */
 #btn2 {
   position: absolute;
   /* float: left; */
   top: 2vw;
   left: 22vw;
   width: 11vw;
 }


 /* +86 */
 #btn3 {
   position: absolute;
   top: 23vw;
   left: 5vw;
   width: 9vw;

 }


 /* we leak too */
 #btn4 {
   position: absolute;
   top: 20vw;
   left: 30vw;
   width: 6vw;
 }


 /* romance */
 #btn5 {
   position: absolute;
   top: 36vw;
   left: 8vw;
   width: 9vw;
 }

 /* peach illusion */
 #btn6 {
   position: absolute;
   top: 27vw;
   left: 20vw;
   width: 8vw;

 }

 /* emotion ownership */
 #btn7 {
   position: absolute;
   top: 39vw;
   left: 25vw;
   width: 8vw;

 }


 .cap {
   font-size: 22px;
   font-weight: bold;
 }

 .contents {
   margin-top: 3vh;
 }

 .contents img {
   margin-top: 20px;
   /*padding-right: 5px;
    padding-bottom: 5px;*/
 }

 .story p {
   max-width: 100%;
   padding-left: 10vw;
   padding-right: 10vw;
   text-align: center;
 }

#blank {
   position: absolute;
   width: 10vw;
   height: 10vw;
   top: 5vw;
   left: 42vw;
   background: white;
 }



 @media (max-width: 1225px) {}

 @media (max-width: 900px) {}

 @media (max-width: 650px) {}