/* body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, rgba(116,201,255,1), rgba(247,226,136,1) 500px);
    background-repeat: no-repeat;
  
} */

input {
    cursor: pointer;
}

.rsd img {
    position: absolute;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

#computer {
    top: 2vw;
    left: 8vw;
    width: 15vw;
}

#computer:hover {
    transform: scale(3) translateY(4vw);
}

#handmade-homepage {
    /* float: left; */
    top: 12vw;
    left: 32vw;
    width: 15vw;
}

#short-circuit {
    top: 4vw;
    left: 49vw;
    width: 11vw;
}
#short-circuit:hover {
    transform: scale(3) translateY(4vw);
}


#zeros_ones {
    top: 6vw;
    left: 87vw;
    width: 13vw;
    z-index:999; 
}

#zeros_ones:hover {
    transform: scale(3) translateX(-5vw) translateY(4vw);
}

#flying_toast {
    top: 24vw;
    left: 69vw;
    width: 25vw;
}

#soft_math_lab {
    top: 35vw;
    left: 13vw;
    width: 10vw;
}

#hallo_darkworld_openai {
    top: 30vw;
    left: 23vw;
    width: 20vw;
}

#hallo_darkworld_openai:hover {
    transform: scale(3) translateX(5vw) translateY(-1vw);
}

#yaeji {
    top: 19vw;
    left: 63vw;
    width: 8vw;
}

#line_of_desire {
    top: 45vw;
    left: 55vw;
    width: 31vw;
}

#line_of_desire:hover {
    transform: scale(3) translateX(-5vw) translateY(-5vw);
}

#meteorology_being {
    top: 25vw;
    left: 48vw;
    width: 11vw;
}

#meteorology_being:hover {
    transform: scale(3) translateX(5vw) translateY(-1vw);
}

#spooned {
    top: 12vw;
    left: 65vw;
    width: 13vw;
}


#infinity {
    top: 48vw;
    left: 8vw;
    width: 11vw;
}

#infinity:hover {
    transform: scale(3) translateX(5vw) translateY(-1vw);
}

#bug {
    top: 50vw;
    left: 40vw;
    width: 22vw;
}

#bug:hover {
    transform: scale(3) translateX(2vw) translateY(2vw);
}

/* #btn4 {
    position: absolute;
    top: 30vw;
    left: 45vw;
    width: 12vw;
}


#btn5 {
    position: absolute;
    top: 45vw;
    left: 62vw;
    width: 25vw;
}

#btn6 {
    position: absolute;
    top: 4vw;
    left: 60vw;
    width: 10vw;

}

#btn7 {
    position: absolute;
    top: 42vw;
    left: 14vw;
    width: 8vw;

} */