.var-highlight{
    color: #C0AD60;
}
.string-highlight{
    color: rgb(109, 180, 192);

}
.mail{
  color:rgba(188,125,216,0.8);
}

body {
  background-color: rgb(29,30,34);

}

pre {
  color: rgb(180,180,180);
  font-size: 18px;
  margin: 0;
  font-family: "Inconsolata";
}
#one{
  line-height: 3px;
}

#two{
  line-height: 7px;
}

#three{
  line-height: 10px;
}

#four{
  line-height: 13px;
}



#six{
  line-height: 20px;
}

#seven{
  line-height: 10px;
}

#eight{
  line-height: 7px;
}
